.card {
  width: 350px; /* Adjust based on desired width */
  height: 500px; /* Adjust based on desired height */
  margin: 10px;
}

.card-img-top {
  width: 100%; /* To fill the card width */
  height: 200px; /* Adjust based on desired height */
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 20px; /* Adjust based on preference */
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px; /* Adjust based on preference */
  line-height: 1.5;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust horizontal spacing */
}
